@import 'breakpoints.scss';

* {
  box-sizing: border-box;
}

.body {
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  @include portrait {
    flex-direction: column;
  }
}

.square {
  width: 100px;
  height: 100px;
  margin: 8px;
  background-color: $box-color-small;

  @include midl-size {
    background-color: $box-color-middle;
  }
  @include big-size {
    background-color: $box-color-big;
  }
  @include max-size {
    background-color: $box-color-max;
  }
}
