* {
  box-sizing: border-box;
  height: 100vh;
}

.square {
  width: 100px;
  height: 100px;
  background-color: coral;
  animation-name: square;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-iteration-count: 2;
  position: relative;
}

@keyframes square {
  0% {
    left: 0px;
    top: 0px;
    position: absolute;
  }
  25% {
    left: 300px;
    top: 0px;
    background-color: cornflowerblue;
    position: absolute;
  }
  50% {
    left: 300px;
    bottom: 300px;
    background-color: aqua;
    position: absolute;
  }
  100% {
    left: 0px;
    bottom: 300px;
    background-color: yellowgreen;
    position: absolute;
  }
}
