* {
  box-sizing: border-box;
}

table {
  width: 500px;
  margin: 16px;
}

div {
  overflow-x: auto;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 4px;
  line-height: 40px;
  text-align: right;
}

thead {
  background-color: aqua;
}

caption {
  margin: 8px;
}

tbody > tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}

tbody > tr:hover {
  background-color: #aaa;
  color: white;
}

tfoot {
  font-weight: 700;
}
