.articles-list {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}


header {
    text-align: center;
}

.article {
    margin: 8px;
    padding: 16px;
    background-color: bisque;
    flex-basis: auto;
    width: 300px;
    flex-grow: 1;
}
