*{
    box-sizing: border-box;
}

.header {
  background-color: darkturquoise;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

.navigation {
  height: 40px;
    
}

.nav-list {
  list-style-type: none; 
  margin: 0;
  padding: 0;
}
.nav-item {
  display: inline-block;
  padding-left: 16px;
  line-height: 40px;
  color: white;
  text-align: center;
}

.content {
  background-color: beige;
  height: 5000px;
}

.head {
  background-color: aquamarine;
  height: 200px;
  width: 200px;
  position: relative;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  
}

.ear {
  width: 40px;
  height: 60px;
  background-color: brown;
  position: absolute;
}

.ear_left {
  top: -60px;
  left: -40px;
}

.ear_right {
  top: -60px;
  right: -40px;
}

.eye {
  width: 30px;
  height: 30px;
  background-color: grey;
  border-radius: 50%;
  position: absolute;
}

.eye_left {
  top: 80px;
  left: 40px;

}

.eye_right {
   top: 80px;
   right: 40px;
}

